@charset "UTF-8";
* {
  font-family: "Bree Serif", serif;
}

.enlaces-header {
  color: rgb(0, 0, 0);
  font-size: 1, 5rem;
}
.enlaces-header:hover {
  color: rgb(240, 248, 255);
}

footer {
  background-color: rgb(128, 128, 128);
}

.footersocial-link {
  padding-right: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1, 5rem;
}
.footersocial-link:hover {
  color: rgb(240, 248, 255);
}

.titulo-footer {
  font-size: medium;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.ftli {
  padding-bottom: 0.75rem;
  list-style: none;
}

.link-footer {
  font-size: small;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.link-footer:hover {
  color: rgb(240, 248, 255);
}

.derechos-footer {
  font-size: 0.65rem;
  margin-bottom: 0rem !important;
}

.border-ft {
  border-right: 1px solid rgb(0, 0, 0);
  padding-right: 2rem;
}

* {
  font-family: "Bree Serif", serif;
}

.enlaces-header {
  color: rgb(0, 0, 0);
  font-size: 1, 5rem;
}
.enlaces-header:hover {
  color: rgb(240, 248, 255);
}

header nav {
  background-color: rgb(128, 128, 128);
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
header nav ul li a {
  text-decoration: none;
}

.header-nav {
  display: flex;
  align-items: center;
}

.enlaces-header {
  gap: 10px;
}

* {
  font-family: "Bree Serif", serif;
}

.enlaces-header {
  color: rgb(0, 0, 0);
  font-size: 1, 5rem;
}
.enlaces-header:hover {
  color: rgb(240, 248, 255);
}

.main {
  font-size: large;
  padding: 5rem;
  background-color: rgb(0, 0, 0);
}

.main-p {
  margin-bottom: 2rem;
  color: rgb(214, 214, 214);
}

.eventos {
  padding-right: 0rem !important;
}

.main-opinion {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #707070;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type=text],
textarea {
  width: 35rem;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #050505;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b35400;
}

.main-h1 {
  color: rgb(241, 249, 255);
}

.main-h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(241, 249, 255);
}

.span-titulo {
  padding-left: 5rem;
  display: block;
  color: rgb(181, 181, 181);
}

.btn {
  background-color: black;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease; /* Transición suave para efectos */
}

.btn:hover {
  transform: scale(1.1); /* Hace que el botón se haga más grande al pasar el cursor por encima */
}

.btn:active {
  background-color: rgb(255, 166, 0); /* Cambia el color del botón al presionarlo */
}

* {
  padding: 0;
  margin: 0;
}

@media (min-width: 319px) and (max-width: 480px) {
  .ftcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .border-ft {
    border: none;
    padding-right: 6rem;
  }
  .arte-1 {
    width: 150px;
    height: 150px;
  }
  .pinturas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn {
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .main-opinion {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #707070;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  input[type=text],
  textarea {
    width: 10rem;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
@media (min-width: 481px) and (max-width: 800px) {
  .ftcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  .border-ft {
    border: none;
    padding-right: 6rem;
  }
  .arte-1 {
    width: 150px;
    height: 150px;
  }
  .pinturas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn {
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .eventos {
    padding-right: 0rem !important;
  }
  .main-opinion {
    max-width: auto;
    margin: 50px auto;
    padding: 20px;
    background-color: #707070;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  input[type=text],
  textarea {
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .logo {
    padding-right: 45rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
  }
  .logo-eventos {
    padding-right: 42rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
  }
  .ftcontainer {
    padding-top: 2rem;
    padding-left: 5rem;
    display: flex;
    align-items: flex-start;
    column-gap: 7rem;
    text-decoration: none;
  }
  .pinturas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .eventos {
    padding-right: 0rem !important;
  }
  .btn {
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
@media (min-width: 1201px) {
  .logo {
    padding-right: 45rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
  }
  .logo-eventos {
    padding-right: 42rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
  }
  .ftcontainer {
    padding-top: 2rem;
    padding-left: 5rem;
    display: flex;
    align-items: flex-start;
    column-gap: 7rem;
    text-decoration: none;
  }
}
.p-link {
  color: rgb(241, 249, 255);
  text-decoration: none;
}
.p-link:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=styles.css.map */
